<template>
  <div>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
    architecto autem blanditiis ea, eius expedita fugit ipsum laudantium magni
    minima quam quisquam, quo quod recusandae tempore totam velit vero
    voluptatibus!
  </div>
</template>
