<template>
  <div>
    <label for="label" class="uppercase">{{ props.label }}</label>
    <input
      ref="inputFiles"
      :class="error ? 'error' : ''"
      :placeholder="props.label"
      accept="image/png, image/jpeg, .doc,.docx, .pdf, .txt"
      class="mt-2 bg-gray-50 border border-[#D0D5DD] text-gray-900 text-sm rounded-lg w-full p-3.5 focus-visible:outline-none"
      type="file"
      multiple
      @change="handleFiles"
    />
  </div>
</template>
<script lang="ts" setup>
import { ref } from "vue";

const props = defineProps({
  label: String,
  modelValue: String,
  error: {
    type: Boolean,
    required: true,
  },
});

const file = ref();
const inputFiles = ref();

//methods

const handleFiles = (e: any) => {
  file.value = e.target.files;
};
</script>
