<template>
  <div>
    <label class="uppercase" for="label">{{ props.label }}</label>
    <input
      :class="error ? 'error' : ''"
      :placeholder="props.label"
      :value="props.modelValue"
      class="mt-2 bg-gray-50 border border-[#D0D5DD] text-gray-900 text-sm rounded-lg w-full p-3.5 focus-visible:outline-none"
      type="tel"
      @input="emit('update:modelValue', $event.target.value)"
    />
  </div>
</template>
<script lang="ts" setup>
const props = defineProps({
  label: String,
  modelValue: String,
  type: {
    type: String,
    required: true,
  },
  error: {
    type: Boolean,
    required: true,
  },
});

const emit = defineEmits<{
  (event: "update:modelValue", payload: string): void;
}>();

//methods
</script>
