<template>
  <div>
    <label class="uppercase" for="label">{{ props.label }}</label>
    <select
      :id="props.modelValue"
      :class="error ? 'error' : ''"
      :placeholder="props.label"
      :value="props.modelValue"
      class="mt-2 bg-gray-50 border border-[#D0D5DD] text-gray-900 text-sm rounded-lg w-full p-3.5 focus-visible:outline-none"
      @input="emit('update:modelValue', $event.target.value)"
    >
      <option v-for="(item, idx) in props.data" :key="idx" :value="item.id">
        {{ item.name }}
      </option>
    </select>
  </div>
</template>
<script lang="ts" setup>
const props = defineProps({
  label: String,
  modelValue: String,
  error: {
    type: Boolean,
    required: true,
  },
  data: Array,
  id: Array,
});

const emit = defineEmits<{
  (event: "update:modelValue", payload: string): void;
}>();

//methods
</script>
