<template>
  <label class="inline-flex relative items-center cursor-pointer">
    <input
      :value="props.modelValue"
      class="sr-only peer"
      type="checkbox"
      @input="emit('update:modelValue', $event.target.checked)"
    />
    <div
      :class="props.modelValue === true ? 'red  after:translate-x-full' : ''"
      class="w-11 h-6 bg-gray-200 rounded-full after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all"
    ></div>
  </label>
</template>
<script lang="ts" setup>
const props = defineProps({
  modelValue: {
    type: Boolean,
    default: false,
  },
});

const emit = defineEmits<{
  (event: "update:modelValue", payload: string): void;
}>();
</script>
<style scoped>
.red {
  background: red;
}
</style>
