@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?a0epna');
  src:  url('fonts/icomoon.eot?a0epna#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?a0epna') format('truetype'),
    url('fonts/icomoon.woff?a0epna') format('woff'),
    url('fonts/icomoon.svg?a0epna#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}
.icon-pencil:before {
  content: "\e905";
}
.icon-video-camera:before {
  content: "\e914";
}
.icon-dice:before {
  content: "\e915";
}
.icon-clubs:before {
  content: "\e918";
}
.icon-book:before {
  content: "\e91f";
}
.icon-stack:before {
  content: "\e92e";
}
.icon-user:before {
  content: "\e971";
}
.icon-users:before {
  content: "\e972";
}
.icon-spoon-knife:before {
  content: "\e9a3";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-truck:before {
  content: "\e9b0";
}
