<template>
  <button
    class="w-auto px-4 uppercase bg-amber-700 rounded-lg py-2 flex gap-2 items-center text-white"
  >
    <svg
      width="20"
      height="20"
      viewBox="0 0 20 20"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M10.0003 4.16666V15.8333M4.16699 10H15.8337"
        stroke="white"
        stroke-width="1.67"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>

    {{ props.text }}
  </button>
</template>
<script setup lang="ts">
const props = defineProps({
  text: {
    type: String,
    required: true,
  },
});
</script>
